{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form class="form-search">
				<input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>
			</form>
			<div class="row-fluid">
				<div class="span12">
                    {% for Comment in comment_list %}
					<blockquote>
						<p>
                            {{ Comment.Comment }}
						</p> <small>{{ Comment.Time }} <cite>{{ Comment.User }}</cite></small>
					</blockquote>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>