{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

    {% block content %}
    <div class="container ">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <input type="submit" class="btn btn-info btn-lg btn-block" value="修改">
                    {% endbuttons%}
                </form>
                <form role="form" action="" method="post">
                    <input type="hidden" name="delete" id="hidden_id" value="yes">
                    {% csrf_token %}
                    {% buttons %}
                    <input type="submit" class="btn btn-danger btn-lg btn-block" value="删除">
                    {% endbuttons%}
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
